.img-background {
    background-image: url("../../assets/imgs/marvel_background2.jpg");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.input {
    width: 400px !important;
    margin-bottom: 10px;
}

.btn-access{
    margin-top: 10px
}

@media (max-width: 500px) {
    .input {
        width: 250px!important;
    }
}