.img-background {
  background-image: url("../../assets/imgs/marvel_background2.jpg");
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

.content {
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 24px;
  padding-top: 80px;
  padding-bottom: 10px;
  font-weight: 500;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: white;
}

.custom-table {
  margin-left: 5%;
  margin-right: 5%;
}

.table-body{
  cursor: pointer;
}

.btn{
  width: 100px;
  margin-right: 3px;
}

.pagination {
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}